/* estilos globales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

body{
    background-color: #0E0E0E;
    color: white;
}
a{
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}

/* logo */
.logo img {
    height: 50px;
    width: 50px;
}
header {
    display: flex;
    align-items: center;
}
header h1 {
    font-size: 20px;
}
/* main */

.planes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4%;
}
.logo-titulo {
    display: flex;
}
.logo-titulo h2 {
    margin-top: 9px;
    font-size: 17px;
    margin-bottom: 20px;
}
.titulos {
    display: block;
    margin-bottom: 35px;
}
.titulos h2{
    margin-bottom: 20px;
}
.tipo-plan{
    margin-left: 15px;
    font-size: 90%;
}
.titulos strong {
    margin-left: 15px;
    font-size: 82%;
    font-weight: bold;
}
.planes section {
    background-color: #191919;
    border-radius: 30px;
    width: 300px;
    height: 400px;
    margin: 3%;
    margin: 120px 0 200px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.planes section img {
    height: 35px;
    width: 35px;
}
.planes section hr {
    margin-top: 35px;
}
section ul {
    margin-left: 15px;
    font-size: 70%;
    margin-top: 35px;
    font-weight: bold;
}
section button {
    color: black;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border-radius: 40px;
}
/* footer */
footer {
    background-color: #191919;
    color: white;
    padding: 50px;
    padding-left: 200px;
    display: flex;
    gap: 18%;
}
.logo-footer {
    display: flex;
    align-items: flex-start;
}
.logo-footer h3 {
    margin-top: 17px;
}
.logo-footer img {
    height: 50px;
    width: 50px;   
}
footer ul {
    list-style: none;
}
footer li {
    font-size: 10px;
    margin-bottom: 25px;
}
footer h3 {
    font-size: 15px;
    margin-bottom: 20px;
}


/* responsividad con media queries */


/* para celular */
@media (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 0;
        gap: 40px;
    }

    .logo-footer {
        justify-content: center;
    }

    footer ul {
        padding: 0;
    }

    footer li {
        margin-bottom: 10px;
        font-size: 12px;
    }

    footer h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}